.BlockWrapper{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.BlockWrapper-inner{
  width: 100%;
  max-width: 1080px;
  padding: 20px 10px;
  margin: auto;
  box-sizing: border-box;
}
.BlockWrapper-inner-fullWidth{
  max-width: none;
}
.BlockWrapper-inner-noMargin{
  padding: 0;
}
